OFTL_SCA_CONTEXT_ROOT="/sca"
OFTL_SCA_VERSION="1"
OFTL_SCA_HOST="0.0.0.0"
OFTL_SCA_PORT="8081"

OFTL_LOG_LEVEL="INFO"
OFTL_LOG_FORMAT="[%(asctime)s] %(levelname)s [%(name)s.%(funcName)s:%(lineno)d] %(message)s"

OFTL_POSTGRESDB_USERNAME= "admin"
OFTL_POSTGRESDB_PASSWORD = "[CHANGE ME]"
OFTL_POSTGRESDB_HOST    = "localhost"
OFTL_POSTGRESDB_PORT    = 5432
OFTL_POSTGRESDB_NAME    = "paytrace"